body {
  background-color: #000;
  text-align: center;
  font-family: Roboto, sans-serif;
}
h1,
h2 {
  color: #fff;
}

h1 {
  font-size: 50px;
}

a {
  color: #00ffbf;
}
#tent {
  width: 100%;
  height: auto;
}

figcaption {
    display: none;
}