body {
  background-color: #000;
  text-align: center;
  font-family: Roboto, sans-serif;
}
h1,
h2 {
  color: #fff;
}

h1 {
  font-size: 50px;
}

a {
  color: #00ffbf;
}

@media only screen and (max-width: 960px) {
    #tent {
      width:100%;
      height: auto;
    }
  }

  #excursion-desc {
    color: #808080;
    font-size: 21px;
  }

  #travel-guide-header{
      font-weight: 300;
      font-size: 42px;
  }

figcaption {
    display: none;
}

footer {
    text-align: right;
    color: #808080
}